<li>Each class will get 1 point</li>
<ul>
    
</ul>
<li>Each session notes will get 1 point</li>
<ul>
    <li>notes should be checked in to <b>notes</b> directory in github</li>
    <li>notes should be more than <b>200</b> character</li>
</ul>

</ul>
<li>Each homework will get 1 point</li>
<ul>
    <li>homeworks should be checked in to <b>homework</b> directory in github</b>
</ul>

For those who have already created notes and homeworks can move them to notes and homework very easily. All they have to do is move existing notes to notes directory like below
<ul>
<li>go to command prompt</li>
<li>go to basic java directory </li>
<li>mkdir notes</li>
<li>move session*.txt to notes. Or use FileExplorer to move to notes directory</li>
<li>mkdir homework</li>
<li>use FileExplorer to move all your existing homework projects in to homework directory</li>
<li>git add * </li>
<li>git status </li>
<li>git commit -m "moved notes and homework" </li>
<li>git push origin master</li>
</ul>



<h3> Note </h3>
    After you checkin to github your rewards may not be updated immediately. It will reflect next day as nightly 
    program will ( its called <b>job</b> in technical world) process your github and update your rewards 

<br/><br/>

<h3> Sample github</h3>
<h4>you can create notes using notepad.exe in windows textedit in mac.</h4>
<h4>homework programs use eclipse. Before creating homework change the workspace in eclipse like below</h4>

<img src="~/images/eclipsehomeworkspace.png" title="eclipsehomeworkspace" alt="" />
<br/><br/>
<hr>
Below shows the sample github 
<br/><br/>

<img src="~/images/rewardsample.png" title="rewardgithubsample" alt="" />
<img src="~/images/rewardnotessample.png" title="rewardnotesgithubsample" alt="" />
<img src="~/images/rewardhomeworksample.png" title="rewardhomeworkgithubsample" alt="" />


<hr>

<center>
<h4>Sample Rewards (not your rewards, for your rewards you need to go visit <a asp-area="" asp-controller="Reward" asp-action="Index">Go to your Rewards</a> )</h4>
<table border="1" cellpadding="10">
        <col width="520"/>
        <col width="400"/>

    <tr>
        <th>Task</th>
        <th>Status</th>
    </tr>
        <tr>
        <td>
            Attendance for session 1(0627/0628)
        </td>
            <b>
                    <td><font color="green">done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Attendance for session 2(0705/0708)
        </td>
            <b>
                    <td><font color="green">done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Attendance for session 3(0718/0719)
        </td>
            <b>
                    <td><font color="green">done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Attendance for session 4(0725/0726)
        </td>
            <b>
                    <td><font color="green">done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Attendance for session 4(0801/0802)
        </td>
            <b>
                    <td><font color="green">done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Updating profile with Giturl
        </td>
            <b>
                    <td><font color="green">done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Created Session1 notes in github (notes\session1.txt)
        </td>
            <b>
                    <td><font color="red">session1.txt is of size: 21. Should be minimum 200 characters.</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Created Session2 notes in github (notes\session2.txt)
        </td>
            <b>
                    <td><font color="red">notes/session2.txt Not Found</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Created Session3 notes in github (notes\session.txt)
        </td>
            <b>
                    <td><font color="green">done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Created Session4 notes in github (notes\session4.txt)
        </td>
            <b>
                    <td><font color="red">notes/session4.txt Not Found</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Created Session5 notes in github (notes\session5.txt)
        </td>
            <b>
                    <td><font color="red">not done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Conditional exercise home work. (homework\AgeInfo)
        </td>
            <b>
                    <td><font color="red">not done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            For loop exercise home work.(homework\PrintNumbers)
        </td>
            <b>
                    <td><font color="red">not done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            Conditional exercise home work.(homework\SchoolInfoApp)
        </td>
            <b>
                    <td><font color="red">not done</font></td>
            </b>
        </tr>
        <tr>
        <td>
            For loop exercise home work.(homework\RuntimeCalcualtor)
        </td>
            <b>
                    <td><font color="red">not done</font></td>
            </b>
        </tr>
</table>

<h4>
<label font="bold" size="10">Total:<label>7 reward(s)
    </h4>
</center>

