@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>We teach kids Computer programming for nominal pricess and all proceedings to charity events.</p>
<p>Current Classes</p>
<li>Basic Java Programming</li>
</li>
    More info can be found here: <a href="https://github.com/sairamaj/programmingclass/blob/master/README.MD">Basic Java Programming </a> 
</li>
