@{
    ViewData["Title"] = "Home Page";
}

<br/>
<br/>
<h1>Welcome</h1>
<p>
    This site will is under development to help Students, Parents to view the progress of the classes. Click <a asp-area="" asp-controller="Session" asp-action="SignIn">
        Sign in</a> and if you are first time visitor you will be registered in to the system.
    We will be adding 
        <li>Class Schedules</li>
        <li>Home works</li>
        <li>Quizes</li>
        <li>Resources</li>
</p>

    