@{
    ViewData["Title"] = "Home Page";
}



<h1>Welcome</h1>

<h2>Last Update Aug 12th</h2>    
    <li>
        Sixth session notes has been published here <a href=" https://github.com/sairamaj/programmingclass/blob/master/sessions/Session6.MD">Session-6 Notes</a></li>
    <li><b>Homework</b>
    <ul>
        <li>Homework details were there in session 6 notes ( see at the end )</li>
    </ul>

<h2>Update Aug 6th</h2>    
    <h3><b>Students</b></h3>
<li>
        Fifth session notes has been published here <a href=" https://github.com/sairamaj/programmingclass/blob/master/sessions/Session5.MD">Session-5 Notes</a></li>
    <li><b>Homework</b>
    <ul>
        <li>Homework details were there in session 5 notes ( see at the end )</li>
    </ul>

    <li><b>Rewards</b>
    <ul>
        <li>Rewards are available now.  <a asp-area="" asp-controller="Reward" asp-action="Index">Rewards</a> 
        <li><a asp-area="" asp-controller="Reward" asp-action="HowRewardsWork">How Rewards work</a></li> 
    </ul>
    
    <h3><b>Parents</b></h3>

     <li><b>Payment</b></li>
    <ul>
        <li>Payment for each class is reduced from <b>$10</b> to <b>$7</b> (with the same goal of 100% goes to charity)</li>
        <li>Payment was originally for $10 per each class. When originally price was decided, I was assuming that, not many people will be attending and also can finish the basic java course in Summer. My both assumptions were wrong. With lot of students enrolled and interested and also afer finishging 5 sessions,it was unreasonable to finish the basic java course in just 10 sessions or so. Also I was going slow purposefully to make students comfortable with basics (and not to scare them away from programming with too much technical stuff in short time). My intention is to make every student comfortable with basic Java and whoever interested can purse in advanced concepts later. With this I am afraid, I cannot finish in summer and want to extend this in to school sessions(and timings will change). I know once school year starts kids have different kind of activities and may not have much time. I will try to get the basic Java may be in couple of months with weekends classes. If they can come and finish till they get basic concepts that will be great. Thanks for understanding.</li> 
        <li>I will get the payment amount for each of you by end of August and the details how to pay.</li>
    </ul>

<h2>Update July 29th</h2>
    <li>
        Fourth session notes has been published here <a href=" https://github.com/sairamaj/programmingclass/blob/master/sessions/Session4.MD">Session-4 Notes</a></li>
    <li><b>Homework</b>
    <ul>
        <li>Homework details were there in session 4 notes ( see at the end )</li>
    </ul>

<h2>Update July 25th</h2>
    <li>We will have July 25th (Tue) and July 26th(Wed) classes as usual.</li>
    <li>Please update your last 3 sessions attendances by clickinig Attendance tab </li>

<h2>Update July 22nd</h2>
    <li>
        Third session notes has been published here <a href=" https://github.com/sairamaj/programmingclass/blob/master/sessions/Session3.MD">Session-3 Notes</a></li>
    <li><b>Homework</b>
    <ul>
        <li>Homework details were there in session 3 notes ( see at the end )</li>
    </ul>
     
<h2>Update July 9th</h2>
    <li>Second session notes has been published here <a href=" https://github.com/sairamaj/programmingclass/blob/master/sessions/Session2.MD">Session-2 Notes</a></li>
    <li><b>Homework</b>
    <ul>
        <li>Create your own notes for this second session (1 point) and check in your github repository </li>
        <li>Check in your Helloworld program in github repository (1 point) </li>
    </ul>
      </li>

<h2>Update July 8th</h2>
<li>
    <b>Update your github URL and get 1 point</b>
    <ul>
        <li>Click Profile (On top menu)</li>
        <li>Update github url field</li>
        <li>Click Update button</li>
    </ul>
    </li>
<h2>Update July 4th</h2>
    <li><b>   Applicable to Tue sessions only</li>
        <ul>
               Today being July 4th Holiday today's class will be this Saturday 8th (10-11:30 AM)</b> </li> </ul>
    <li><b>Note</b>
    I will be out of town next week and will not have classes 07/11 and 07/12. We will have extra classes for these in month of July to compensate for these )
    </li>

    <li>Last class notes has been published here <a href=" https://github.com/sairamaj/programmingclass/blob/master/sessions/First.MD">Session-1 Notes</a></li>
    <li><b>Homework</b>
    <ul>
        <li>Carries 1 point</li>
        <li>Read the above notes</li>
        <li>Make your own notes</li>
        <li>Check-in github</li>
        <li>Instructions how to checkin github is here: <a href="https://github.com/sairamaj/programmingclass/blob/master/sessions/githubinfo.MD">How to check-in github</a></li>
    </ul>
    </li>
    <li><b>Point System</b>
        <ul>
            <li>There will be points for each activity</li>
            <li>Attending to class will get 1 point</li>
            <li>Doing homework gets 1 point </li>
            <li>Multiple points during periodic Quizes<li> 
        </ul>
    </li>

<h2>Update June 24th</h2>
 <h3></h3>
 <li>Class starts Tue(27th) Wed(28th)</li>
 <li>Every student Signup to free github  <a href="https://github.com">github</a>
 <li>Bring fully charged laptop</li>
 <li>Install Java from here: <a href="https://www.java.com/en/download/">Java download</a></li>
 <li>Install Eclipse from here: <a href="https://eclipse.org/downloads/eclipse-packages/?show_instructions=TRUE">Eclipse</a></li>
 <li>Notebook and pen</li>

 <h3>Parents</h3>
 <li>Drop 5mins before the class</li>
 <li>Class may go 15mins late as we have high registration</li>
 




    